/*Sir Wilf color theme from Adobe Color #e7e4df #496287 #3b4359 #f7e5d5 #bfbfc3 */
/*<link href="forum.css" rel="stylesheet" type="text/css">*/	

a:link {color: #496287;}
a:visited {color: #3b4359;}
a:hover {color: #bfbfc3;}
a:active {color: #f7e4df;}

.login {
	background-color: #bfbfc3; 
	border: none;
	color: #496287;
	padding: 10px 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.loginEffect:hover{
	background-color: #3b4359;
	color: #bfbfc3;
	}

html, body {overflow-x: hidden;} 


h1 {color: #3b4359; text-align: center;}
h2 {color: #496287;}
h3 {color: #aba3ae;}

body {
	font-family: arial, calibri, serif;
	background-image: url(background.jpg);
	background-color: #496287;
	background-repeat: repeat-x;
	margin: auto;
	color: #000000;
}

.wrapper{
	border-radius: 10px;
	border: 3px solid #3b4359;
	background-color: #ffffff;
	max-width: 750px;
	margin: auto;
	padding: 20px;	
}

label {
	font-weight: bold;
	color: #aba3ae;;
}

.form_field {
	padding: .5em;
}

.wrapper_login {
	border-radius: 10px;
	border: 3px solid #3b4359;
	background-color: #ffffff;
	max-width: 500px;
	padding: 20px;
	margin: auto;
}
